body {
  background-color: #222;
}

h1, h2, h3, h4, h5, h6, body {
  font-family: "Open Sans", Arial, sans-serif !important;
}

h1, h2 {
  font-weight: 700 !important;
}

h2 {
  font-size: 52px !important;
}